# dependencies
mbuild/
mcpat/
pin_kit/
python_kit/
riscv/
xed/
xed_kit/

# Pin3 output
frontend/pin-frontend/obj-intel64/
sift/recorder/obj-intel64/

# object files
*.d
*.o
*.a
*.pyc
__pycache__/

# test output
*.log
sim.out
sim.cfg
sim.info
sim.stats
sim.stats.base
sim.stats.delta
sim.stats.db
sim.stats.sqlite3
appdebug_port.out
debug_offset.out
graphite.out
cpi-stack.jpg
output_files
tools/cpistack-collect/cpistack-*

# compiled libraries
lib/*
config/buildconf.*
config/sniper.py
docs
.build_os
include/linux/perf_event.h
sift/libsift.a
sift/siftdump
sift/recorder/sift/*.cc
sift/recorder/sift/*.h
tools/pinversion

sift/recorder/sift/libsift.a
frontend/pin-frontend/sift/

# emacs temp files
*~

# vi temp files
*.swp

# VS Code files
.vscode/
*code-workspace

# Ignore test directory for now
# test/

# File used solely for testing script, re-written on each run
config/repeat_testing.cfg
