*.log
*.out
*sim.cfg
sim.info
sim.scripts.py
sim.stats
sim.stats.base
sim.stats.delta
sim.stats.db
sim.stats.sqlite3
appdebug_port.out
debug_offset.out
graphite.out
cpi-stack.jpg
output_files
viz/

*.png
*.jpg

repeat_testing.cfg
